<footer>
  <div class="wrap">
    {% for column in site.data.footer.columns %}
    <div class="footer-grid">
      <p class="footer-label">{{ column.label }}</p>
      {% for link in column.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="footer-grid">
      <p class="footer-label"><a href="https://www.bayis.co.uk">Bay Information Systems</a></p>
      <a href="mailto:ed@bayis.co.uk">ed@bayis.co.uk</a>
      <p class="footer-copy">Marigold &copy; Bay Information Systems {{ site.time | date: "%Y" }}</p>
    </div>
  </div>
</footer>
